<img src="img/burger.jpg" alt="Cartoon Hamburger">

<h2>Eat-Da-Burger!!</h2>

<ul>
  {{#each burgers}}
    {{name}}
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{Devour}}">
		Devour!
	</button>
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#unless hungry}}
    {{/unless}}
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form> 
